# Database
DATABASE_URL=postgres://user:password@host:port/database?sslmode=require

# Authentication
JWT_SECRET=sua_chave_secreta_aqui
ADMIN_PASSWORD=#C4RL0Ss1t3!

# Vercel Blob (Necessário para uploads no ambiente serverless)
BLOB_READ_WRITE_TOKEN=ver_no_dashboard_da_vercel
